* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
  }
  
  #main  {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #eee;
  background-color: rgba(127, 127, 115, 0.267);
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

  #title {
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 0;
    padding-left: 0;
  }

  #title, #img-caption{
    text-align: center;
  }

  #image-div {
     
    padding: 10px;
    margin: 0;
  }

  #image {
    width: 600px;
    max-width: 100%;
    height: auto; 
    display: block;
    margin: 0 auto;
  }

 #tribute-info {
     margin: 15px 0 5px 0;
  }

  @media (max-width: 460px) {
    #tribute-info {
      font-size: 1.4rem;
    }
  }

  #first-timeline{
    margin: 50px 0;
  text-align: center;
  }

  #second-timeline {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
  }
  
  li {
    margin: 16px 0;
  }
    
#tribute-finals {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}

footer {
  font-style: italic;
  max-width: 545px ;
  margin: 0 auto 100px auto ;
  text-align: left;
}
         


